@font-face {
  font-family: 'PressStart2P';
  src: url('/fonts/PressStart2P-Regular.ttf') format('truetype');
}

h1 {
  font-family: 'PressStart2P', sans-serif;
  text-shadow: 2px 2px 0px #0000009c;
}

.cuentos {
  background-color: bisque;
  color: darkslategrey;
  padding: 2rem;
  max-width: 1024px;
  margin: auto;
}

.cuentos h1 {
  font-family: 'PressStart2P', cursive;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.cuentos p {
  margin-top: 1rem;
  text-align: justify;
}

.cuentos i {
  font-style: italic;
  color: inherit;
}

@media (min-width: 1024px) {
  .cuentos {
    max-width: 1024px;
  }
}