@font-face {
  font-family: 'PressStart2P';
  src: url('/fonts/PressStart2P-Regular.ttf') format('truetype');
}

h1 {
  font-family: 'PressStart2P', sans-serif;
  text-shadow: 2px 2px 0px #0000009c;
}

.cuentos {
  background-color: bisque;
  color: darkslategrey;
  padding: 2rem;
  max-width: 1024px;
  margin: auto;
}

.cuentos h1 {
  font-family: 'PressStart2P', cursive;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.cuentos p {
  margin-top: 3rem;
  text-align: justify;
}

.cuentos i {
  font-style: italic;
  color: inherit;
}

.cuentos img {
  float: left;
  margin: 1rem 2rem 2rem 0rem;
  border: 0.8rem solid #008236;
  max-width: 500px;
  width: 50%;
}

@media (max-width: 640px) {
  .cuentos img {
    max-width: 100%;
    margin: 1rem 1rem 1rem 1rem;
  }
}

@media (min-width: 641px) {
  .cuentos {
    max-width: 1024px;
  }

  .cuentos img {
    box-shadow: 1rem 1rem 0rem #0000008b;
  }

}