@font-face {
  font-family: 'PressStart2P';
  src: url('/fonts/PressStart2P-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pokemon';
  src: url('/fonts/Pokemon_GB.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url('/img/background_grass.svg');
}

@keyframes zoomIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

h1 {
  font-family: 'PressStart2P', sans-serif;
  color: white;
  text-shadow:
    /* Contorno simulado */
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black,
    5px 5px 0px rgba(0, 0, 0, 0.605);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.title {
  background-color: #24857F;
  border: 7px solid #ff797e;
  box-shadow: 10px 10px 0px #5a6266aa;
}

section {
  background-color: #FAFCDF;
  border-radius: 10px;
  color: #484927;
  border: 8px solid #A09A95;
  box-shadow: 10px 10px 0px #5a6266b1;
  z-index: 1000;
}

section h2 {
  font-family: 'PressStart2P', sans-serif;
  color: #555539;
  text-shadow: 2px 2px 0px #b6b6b6;
  font-size: 1rem;
}

section h3 {
  color: #555539;
  text-shadow: 2px 2px 0px #b6b6b6;
  font-size: 1rem;
  font-weight: 900;
}

section a {
  text-decoration: none;
  color: #dc0071;
  font-weight: 700;
}

.image-zoom {
  animation: zoomIn 1s ease-out;
  transform-origin: center;
}

nav {
  background-color: #196b67e2;
  font-family: Pokemon, sans-serif;
  z-index: 1000;
}

footer {
  background-color: #196b67e2;
  font-family: 'PressStart2P', sans-serif;
}

.buildingText {
  font-family: 'PressStart2P', sans-serif;
  font-size: 0.8rem;
  text-shadow: 3px 3px 0px #0000009c;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.buildingTextHover {
  opacity: 1;
}

.texto-3d:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.bg-tree {
  background-image: url("/img/universearbol.png");
  background-size: 100px 100px;
  background-repeat: repeat;
}

.madera {
  background-image: url("/img/madera.png");
  background-size: 100px 100px;
  background-repeat: repeat;
}

.biblioteca {
  background-image: url("/img/biblioteca.png");
  background-size: 264px 100px;
  background-repeat: repeat;
  height: 100px;
}

.escritorio {
  background-image: url("/img/escritorios.png");
  background-size: 634px 100px;
  background-repeat: repeat;
  height: 100px;
}